.nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;

  &__item {
    display: inline-block;
    a {
      position:relative;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      transition:color 0.3s ease-in;
      animation: pulsate 1.2s linear infinite;
      &:hover {
        color: #00aaef;
        outline: none;
      }

      &:after {
        position: absolute;
        top: 100%;
        left: 50%;
        color: transparent;
        content: '•';
        text-shadow: 0 0 transparent;
        font-size: 1.2em;
        transition: text-shadow 0.3s, color 0.3s;
        transform: translateX(-50%);
        pointer-events: none;
      }
      &:hover:after{
        color: #00aaef;
	      text-shadow: 10px 0 #00aaef, -10px 0 #00aaef;
      }

      @-webkit-keyframes pulsate {
       50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
      }
    }

  }
}
