.nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;

  a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }

}
